.image {
    background-image: url("/robot+arm.png");
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 1/-1;
    min-height: 30vh;
    height: 60vh;
    pointer-events: none;
}

div > img, 
div > video {
    border-radius: .25em;
    width: 100%;
    height: 100%;
}