@import "tailwindcss";

@theme {
    --color-amber-650: oklch(59.4% 0.188 48.318);
}

html {
    font-family: "Inter", system-ui, sans-serif;
    scroll-behavior: smooth;
}

::selection {
    background-color: var(--color-gray-700);
    color: var(--color-gray-100);
}